
menuconfig NEW_SENSORS
	bool "Sensors Support"
	help
		Say Y to enable Sensors support. This allows control of supported
		Sensors.

if NEW_SENSORS
config SENSORS_CORE
         bool "sensors_core"
         depends on I2C

config SENSORS_K303C
	depends on I2C
	tristate "ST K303C accel,magnetic combo"
	default n
	help
	  This option enables st k303c accel and mag driver

config SENSORS_CM36686
	depends on I2C
	tristate "CM36686 driver"
	default n
	help
	  This option enables proximity & light sensors using CM36686 driver.

config SENSORS_CM36686_LEDA_EN_GPIO
	depends on I2C
	tristate "CM36686 driver"
	default n
	help
	  CM36686 driver use GPIO as leda-en.

config SENSORS_CM36672P
	depends on I2C
	tristate "CM36672P driver"
	default n
	help
	  This option enables proximity sensor using CM36672P driver.

config SENSORS_LEDA_EN_GPIO
	depends on I2C
	tristate "LEDA_EN controlled by GPIO"
	default n
	help
	  This option enables leda_en controlled by GPIO using optical sensor driver.

config SENSORS_K2HH
	depends on I2C
	tristate "ST K2HH accel,magnetic combo"
	default n
	help
	  This option enables st k2hh accel and mag driver

config SENSORS_ACC_EN_GPIO
	depends on I2C
	tristate "ACC_EN controlled by GPIO"
	default n
	help
	  This option enables acc_en controlled by GPIO using accel sensor driver.

config SENSORS_SX9500
	depends on I2C
	tristate "SX9500 driver"
	default n
	help
	  Say Y here if you use sx9500.
	  This option enables grip sensors using
	  SemTech sx9500 device driver.

	  Say N here if you do not use sx9500.

config SENSORS_GRIP_ADJDET
	depends on I2C
	tristate "GRIP sensor adj cable detect"
	default n
	help
	  GRIP sensor adj cable detect

config SENSORS_SX9500_REGULATOR_ONOFF
	tristate "GRIP sensor regulator onoff function"
	default n
	help
	  GRIP sensor regulator onoff

config SENSORS_SX9500_INIT_TOUCH_THRESHOLD
	int "SX9500 Grip sensor threshold for init touch"
	depends on SENSORS_SX9500
	default "3000"
	help
	  This value is the standard of init touch using
	  SemTech sx9500 device driver.

config SENSORS_SX9500_NORMAL_TOUCH_THRESHOLD
	int "SX9500 Grip sensor threshold for normal touch"
	depends on SENSORS_SX9500
	default "17"
	help
	  This value is the standard of normal touch using
	  SemTech sx9500 device driver.
	  
config SENSORS_AK09911C
	tristate "AK09911C compass support"
	default n
	depends on I2C
	help
	  If you say yes here you get support for Asahi Kasei's
	  orientation sensor AK09911C.

config SENSORS_K2HH_SW_I2C
	depends on I2C_GPIO
	tristate "SW I2C for sensor"
	default n
	help
	  This option enable K2HH driver to parse i2c-gpio SDA and SCL pins.

config SENSORS_K2HH_HAS_REGULATOR
	depends on I2C
	tristate "sensor use connected regulator"
	default n
	help
	  This option enable K2HH driver to parse connected regulators.

endif # NEW_SENSORS

